.code-editor {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    overflow: hidden;

    .panels-container {
        width: 100%;
        height: calc(100% - var(--status-bar-height));
        overflow: hidden;
    }

    .left-panel,
    .right-panel {
        height: 100%;
        display: inline-block;
    }

    .left-panel {
        width: var(--code-editor-width, 50%);
        background: red;
    }

    .right-panel {
        width: calc(100% - var(--code-editor-width, 50%));
        background: lightgreen;
    }
}